//colors
$brand-primary: #5b4681;
$gray: #dddddd;
$white: white;
$light-gray: #f9f9f9;
$dark-gray: #777777;

//font size
$base-font-size:1.4rem;
$large-font-size:1.8rem;

//spacing
$space: 1.4rem;

$input-spacing:1rem;
$input-border: $gray;
$site-max-width:50rem;
$boxed-view-overlay-bg: $gray;
$boxed-view-bg: $white;

//header
$header-bg:$brand-primary;
$header-color:$white;

//button
$button-bg:$brand-primary;
$button-color:$white;
$button-pill-color: #5b4681;
$button-secondary-bg: $light-gray;
$button-secondary-color: #777777;
$button-secondary-border-color: $gray;


//item
$item-bg:$light-gray;
$item-border: darken($light-gray, 8%);
$item-text-color:$dark-gray;
